* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background: linear-gradient(to bottom,rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url('./img/casino_background.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: white;
}

.game-wrapper {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.user-cards {
  margin: 50px
}

.comp-cards {
  margin: 50px;
}

img {
  height: 150px;
}

h1{
  color: #972A27;
  font-size: 80px;
}

h3 {
  font-size: 30px;
  margin: 10px;
}

span {
  color: #4E6A54;
}

button {
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  width: 300px;
  border-radius: 0.75rem;
  background: none;
  border: 2px solid white;
  font-weight: bold;
  font-size: 24px;
  color: white;
  transition: 0.75s ease;
}

button:hover {
  transform: scale(1.5);
}